<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <header>
        <div>
            <a th:href="@{|/profile?first=${user.getFirstName()}&last=${user.getLastName()}&father=${user.getFatherName()}|}">
                <span th:text="|Профиль|"></span>
            </a>
            <a th:href="@{/}">
                <span th:text="|Лента|"></span>
            </a>
            <a th:href="@{|/tasks|}">
                <span th:text="|Задачи|"></span>
            </a>
            <a th:href="@{|/users|}">
                <span th:text="|Сотрудники|"></span>
            </a>
            <a th:href="@{|/departments|}">
                <span th:text="|Отделы|"></span>
            </a>
            <a th:href="@{|/files|}">
                <span th:text="|Файлы|"></span>
            </a>
            <a href="/logout">
                <span>Выйти</span>
            </a>
        </div>
        <hr>
    </header>


<div>
    <span th:if="${param.msg}">
        Пароли не совпадают, либо старый пароль неверен.
    </span>
    <form method="post">
        <label> Введите старый пароль
            <input type="password" name="oldpass" required/>
        </label>
        <label> Введите новый пароль
            <input type="password" name="new1" required/>
        </label>
        <label> Подтвердите новый пароль
            <input type="password" name="new2" required/>
        </label>
        <input type="submit" value="Изменить">
    </form>
</div>

</body>
</html>